:root{
    --border: #dcdcdc;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    height: 100vh;
    background: linear-gradient(90deg, #dcdcdc, #367588);
}

.wrapper{
    margin: 50px;
    display: flex;
    gap: 40px;
    flex-flow: row wrap;
    .addBox, .note{
        flex: 1 1 300px;
        height: 300px;
        list-style: none;
        background-color: white;
        padding: 3px 0px;
        border-radius: 5px;
    }
    .addBox{
        z-index: 8;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        background-color: #c0c0c0;
        color: var(--border);
        align-items: center;
        box-shadow: 2px 2px 4px black;
        .addText{
            border: 1px solid var(--border);
            height: 80%;
            padding: 10px 0px;
            width: 100%;
            font-size: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        p{  
            margin-top: 15px;
            font-size: 24px;
            font-weight: 500;
        }
        .icon{
            cursor: pointer;
            color: white;
            display: flex;
            width: 80px;
            height: 80px;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            box-shadow: 2px 2px 4px gray;
            background: linear-gradient(120deg, rgb(17, 5, 182), black);
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); 
            &:hover{
               transform: scale(0.9);
            }
            &:active{
                background: white;
                color: black;
            }
        }
        .color-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            gap: 5px;
        }
        .color-box{
            border: 0.5px solid var(--border);
            width: 25px;
            height: 25px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.note{
    display: flex;
    flex-direction: column;
    border: 1px solid lime;
    p{  
        margin: 5px 13px;
        font-size: 22px;
        padding-bottom: 3px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--border)
    }    
    .span01{
        padding-left: 15px;
        margin-right: 10px;
        display: block;
        line-height: 22px;
        margin-bottom: 10px;
        color: black;
        min-height: 190px;
        max-height: 190px;
        overflow-y: auto;
    }
    .bottom-content{
        display: flex;
        margin: 0 10px;
        padding: 10px 0;
        justify-content: space-between;
        align-content: center;
        font-size: 14px;
        border-top: 1px solid var(--border);
        .setting i{
            cursor: pointer;
            font-size: 20px;
            margin-right: 10px;
        }
    }
}
.setting{
    position: relative;
    .menu{
        position: absolute;
        right: 5px;
        top: -75px;
        box-shadow: 1px 1px 4px black;
        display: flex;
        flex-direction: column;
        height: 90px;
        width: 110px;
        background-color: white;
        justify-content:space-around;
        align-items: center;
        border-radius: 5px;
        padding-left: 2px;
        transform: scale(0);
        transition: transform 0.6s cubic-bezier(0.23, 1, 0.320, 1); 
    }
    .menu li{
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 4px 0;
        
        width: 98%;
        list-style: none;
        font-size: 18px;
        cursor: pointer;
        border-radius: 2px;
        &:hover{
            background-color:#d3d3d3 ;
        }
        i{
            margin-left: 10px;
            margin-right: 3px;
            align-self: flex-start;
        }
    }
}
.setting.show .menu{
    transform: scale(1);
}

.popup-box{
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    .popup{
       padding: 10px;
       z-index: 5;
       position: absolute; 
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       max-width: 400px;
       width: 100%;
       border-radius: 10px;
       background: #fff;
    }
    .content{
        header{
            display: flex;
            padding: 15px 25px;
            border-bottom: 0.5px solid #d3d3d3;
            justify-content: space-between;
        }
        p{
            font-weight: 500;
            font-size: 23px;
        }
        i{
            cursor: pointer;
            margin-top: -15px;
            margin-right: -25px;
            font-weight: 800;
        }
    }
}
.content{
    form{
        margin: 15px 25px;
    }
    label{
        display: block;
        font-size: 18px;
    }
    .row input{
        margin-bottom: 20px;
    }
    .row textarea{
        min-height: 180px;
        padding: 10px 15px;
        overflow: none;
        font-size: 17px;
        resize: none;
        margin-bottom: 15px;
    }
    button{
        background: linear-gradient(90deg, black, rgb(17, 5, 182), black);
        color: white;
        width: 100%;
        height: 40px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover{
           transform: scale(0.97);
        }
        &:active{
            background-color: white;
            color: black;
        }
    }
    
}
.content form :where(input, textarea){
    width: 100%;
    margin: 5px 0;
    border: 1px solid #d3d3d3;
    height: 35px;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 5px;
    &:focus{
        box-shadow: inset 2px 2px 4px var(--border);
        outline: none;
    }
}
.popup-box.show{
    opacity: 1;
    pointer-events: auto;
}










